
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Shop Stor(e)age</h1>
    <p class="lead">Welcome to the Shop Stor(e)age. Feel free to browse products or checkout order from the menu above.</p>
</div>
